# Fichiers générés par les outils de build et les IDE
.dart_tool/
.idea/
.claude/
build/
*.iml
*.ipr
*.iws

# Fichiers générés par Flutter
.metadata
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Fichiers générés par Node.js/npm
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
assets/js/bridge.js

# Fichiers de configuration spécifiques à l'OS
.DS_Store
Thumbs.db

# Coverage et documentation
/coverage/
**/doc/api/

# Build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Autres fichiers générés
.pub-cache/
.pub/
**/ios/Flutter/.last_build_id
