name: ai_hybrid_hub
description: "AI Hybrid Hub MVP"
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_inappwebview: ^6.0.0
  flutter_riverpod: ^3.0.1
  freezed_annotation: ^3.0.0
  riverpod_annotation: ^3.0.1

dev_dependencies:
  build_runner: ^2.4.11
  flutter_test:
    sdk: flutter
  freezed: ^3.0.0
  integration_test:
    sdk: flutter
  mockito: ^5.4.4
  riverpod_generator: ^3.0.1
  very_good_analysis: ^10.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/js/
    - assets/sandboxes/
